* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ad0f0f;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.menu a,
ul,
li {
  display: flex;
  color: #fff;
  text-decoration: none;
  list-style: none;
  padding: 5px;
}
